<% if @stylist.client_names().any?() %>
<h3>Here are all <%= @stylist.stylist_name() %>'s clients:</h3>

<ul>
  <% @stylist.client_names().each() do |name| %>
  <li><%= name.client_name() %></li>
  <% end %>
</ul>
<% else %>
<p>No clients yet!</p>
<% end %>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.stylist_name() %>'s info</a></p>

<p><a href="/">Return to Main Page to add clients</a></p>
